body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6ffe6; /* Light green */
  }
  
  h2 {
    color: green;
  }
  
  a {
    text-decoration: none;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
